* {
  font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 320px) {
  body {
    margin: 0;
  }

  .site-header {
    background-color: #2B2B2B;
    height: 20em;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 1fr;
    grid-template-columns: repeat(4, 25%);
  }

  .login-logo-container {
    grid-column: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-icon {
    height: 6%;
    width: 6%;
    border: 1px solid white;
    border-radius: 50%;
    margin: 2em;
  }

  .login-name {
    font: #E8279B;
    font-size: 2em;;
    /* align-self: ; */
  }

  .logo-image {
    height: 35%;
    width: 30%;
    margin: 2em;
    /* align-self: flex-end; */
  }

  .user-card {
    border:
  }
}

/* @media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 1024px) {

} */
